@import "hsl-radix-colors/mauve.css";
@import "hsl-radix-colors/violet.css";
@import "hsl-radix-colors/grass.css";
@import "hsl-radix-colors/tomato.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --radius: 0.5rem;
   }
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
   ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
   }

   ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: hsl(var(--violet-5));
   }
}
